<div class="container-fluid">
  <footer>
    <img class="logo" src="\logoAndIcon\logo.svg" alt="">
    <p>
    .مع لذّة، الطهي متعة مزدوجة اكتشاف الوصفات وإضافة إبداعاتك 
    </p>
    <p class="copyright">
        جميع الحقوق محفوظه للذة &copy;
    </p>
  </footer>
</div>