<div>
    <form>
        <div class="search-container">
            <h2>البحث</h2>
            <div class="search-bar">
                <div class="input-group mb-3">
                    <input type="search" class="form-control" placeholder="ابحث عن وصفة..." aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"> <img class="SearchIcon" src="/logoAndIcon/Search_Icon.svg" alt="search icon"></button>
                  </div>
            </div>
            </div>
<div class="filters">
<p>
    <label> نوع الطبق
        <select name="dish">
            <option value="main"> اطباق رئيسية </option>
            <option value=" sancks">  مقبلات </option>
            <option value="drinks"> مشروبات </option>
            <option value="dessert">  حلويات </option>
        </select>
    </label>
</p>
<p>
    <label> المستوى
        <select name="level">
            <option value="hard"> صعب</option>
            <option value=" mid">متوسط  </option>
            <option value="easy"> سهل</option>
        </select>
    </label>
</p>
<p>
    <label> الوقت بالدقائق
        <input type="number" max="300" min="1">
    </label>
</p> 
<p>
    <label> عدد الأشخاص
        <input type="number" max="10" min="1">
    </label>
</p>
</div>

</form>

<div class="recipe-card">
    <img src="lasaniya.png" alt="صورة لازانيا" class="recipe-image">
    <div class="recipe-content">
        <h3 class="recipe-title">وصفة اللازانيا</h3>
        <p class="recipe-author">بواسطة احمد سالم</p>
        <div class="recipe-details">
            <div class="detail">
                <img src="/logoAndIcon/persons_icon.svg" alt="أيقونة الأشخاص">
                <span>6-8 أشخاص</span>
            </div>
            <div class="detail">
                <img src="/logoAndIcon/Time_icon.svg" alt="أيقونة الوقت">
                <span>ساعة و 10 دقائق</span>
            </div>
            <div class="detail">
                <img src="/logoAndIcon/Dish_icon.svg" alt="أيقونة الطبق">
                <span>طبق رئيسي</span>
            </div>
            <div class="detail">
                <img src="/logoAndIcon/Level_icon.svg" alt="أيقونة المستوى">
                <span>سهل</span>
            </div>
        </div>
    </div>
</div>

</div>
