<div>
    
    <header class="d-flex flex-wrap align-items-center justify-content-center">
      
      <video class="ratio ratio-16x9 w-50 rounded-circle" src="\photoAndVideo\DishAnimation.mp4" autoplay loop muted></video>
      <div class="header_text ms-3">
        <h2>
          اطباق متنوعة لتجربة طهي لا تنسى
        </h2>
      </div>
    </header>
    
    
   
    <section>
      
      <h2>
        التصنيفات
      </h2>
        <div class="box_content_part">
          
          
          <div class="box_content">
            <img src="\photoAndVideo\IMG_4279.PNG" alt="" style="width: 170px; height: auto;">
            <p>الاطباق الرئيسية</p>
          </div>
          <div class="box_content">
            <img src="\photoAndVideo\IMG_4280.PNG" alt="" style="width: 200px; height: auto;">
            <p>المقبلات</p>
          </div>
          <div class="box_content">
            <img src="\photoAndVideo\IMG_4281.PNG" alt="" style="width: 110px; height: auto;">
            <p>المشروبات</p>
          </div>
          <div class="box_content">
            <img src="\photoAndVideo\IMG_4282.PNG" alt="" style="width: 170px; height: auto;">
            <p>الحلويات</p>
          </div>


        </div>
        <video class="ratio ratio-16x9" src="\photoAndVideo\imgAnimation.mp4" autoplay loop muted></video>
        <div class="permotion_login">
          <H2>
            !هل لديك وصفة رائعة؟ شاركها الآن
          </H2>

          <p>سجل الآن وكن جزءًا من مجتمع الطهاة المبدعين. أضف وصفتك اليوم!</p>
   
          <a href="/auth/google">
            <button style="padding: 10px 20px; background-color: #4285F4; color: white; border: none; cursor: pointer; border-radius: 20px;
  ">
              Login with Google
            </button>
          </a>

        </div>
    </section>

  </div>

 
