body {
    background-color: #f8f9fa; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .card {
    background-color: #ffffff; 
    border: none; 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .card h2 {
    color: #ffa500; 
    font-weight: bold;
  }
  

  
  .form-control:focus {
    border-color: #ffa500; 
    box-shadow: 0 0 5px rgba(255, 165, 0, 0.25); 
    outline: none; 
  }
  
  .btn-primary {
    background-color: #ffa500; 
    border: none;
    border-radius: 10px; 
    font-size: 16px; 
    font-weight: bold; 
    color: #fff; 
    transition: all 0.3s ease; 
}
.btn-primary:hover {
    background-color: #ffa500; 
    border: none; 
    border-radius: 10px; 
    font-size: 16px;
    font-weight: bold;
    color: #fff; 
    transition: all 0.3s ease; 
}

.btn-primary:active{
    box-shadow: 0 0 10px #ffa500; 
    transition: all 0.3s ease-in-out; 
}

.form-control{
    width: 100%;
    border: solid #ffa500;
    border-radius: 12px;
   
}
  
  .text-primary {
    color: #ffa500; 
  }
  
  .text-primary:hover {
    text-decoration: underline; 
  }
  
  .text-center a {
    color: #ffa500; 
    text-decoration: none; 
    transition: color 0.3s ease; 
  }
  
  .text-center a:hover {
    color: #cc8400; 
  }
  
  button:focus {
    outline: none; 
  }
